{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "https://7.al-dev.ru",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 5,
      "animate": true,
      "afterUpload": true
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/var/www/iceslam/data/www/7.al-dev.ru/wp-content/themes/remember/",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "sftp",
      "history": [
        {
          "file": "README.md",
          "mtimeMs": 1607422231577.1074,
          "ctimeMs": 1607422231577.1074,
          "date": "2020-12-08T11:40:07.572Z"
        },
        {
          "file": "assets/css/main.css",
          "mtimeMs": 1607432107012.5613,
          "ctimeMs": 1607432107012.5613,
          "date": "2020-12-08T12:55:11.032Z"
        },
        {
          "file": "assets/css/main.css.map",
          "mtimeMs": 1607422231590.0159,
          "ctimeMs": 1607422231590.0159,
          "date": "2020-12-08T11:40:41.567Z"
        },
        {
          "file": "assets/css/main.min.css",
          "mtimeMs": 1607432109226.088,
          "ctimeMs": 1607432109226.088,
          "date": "2020-12-08T12:55:12.082Z"
        },
        {
          "file": "assets/css/main.min.css.map",
          "mtimeMs": 1607422231592.019,
          "ctimeMs": 1607422231592.019,
          "date": "2020-12-08T11:40:44.247Z"
        },
        {
          "file": "assets/css/mdb.min.css",
          "mtimeMs": 1607422231596.12,
          "ctimeMs": 1607422231596.12,
          "date": "2020-12-08T11:40:45.880Z"
        },
        {
          "file": "assets/css/mdb.min.css.map",
          "mtimeMs": 1607422231602.04,
          "ctimeMs": 1607422231602.04,
          "date": "2020-12-08T11:41:04.030Z"
        },
        {
          "file": "assets/img/logo.png",
          "mtimeMs": 1607422231658.014,
          "ctimeMs": 1607422231658.014,
          "date": "2020-12-08T11:42:03.479Z"
        },
        {
          "file": "assets/js/app.js",
          "mtimeMs": 1607422231683.0178,
          "ctimeMs": 1607422231683.0178,
          "date": "2020-12-08T11:42:54.522Z"
        },
        {
          "file": "assets/js/mdb.min.js",
          "mtimeMs": 1607422231692.014,
          "ctimeMs": 1607422231692.014,
          "date": "2020-12-08T11:42:57.680Z"
        },
        {
          "file": "assets/js/mdb.min.js.map",
          "mtimeMs": 1607422231701.0134,
          "ctimeMs": 1607422231701.0134,
          "date": "2020-12-08T11:42:58.786Z"
        },
        {
          "file": "assets/img/header_bg.jpg",
          "mtimeMs": 1607422231655.02,
          "ctimeMs": 1607422231655.02,
          "date": "2020-12-08T11:42:01.210Z"
        },
        {
          "file": "assets/img/navbar_logo.png",
          "mtimeMs": 1607432106058.5627,
          "ctimeMs": 1607432106058.5627,
          "date": "2020-12-08T12:55:09.373Z"
        },
        {
          "file": "assets/img/active_link.svg",
          "mtimeMs": 1607422231606.0154,
          "ctimeMs": 1607422231606.0154,
          "date": "2020-12-08T11:41:11.705Z"
        },
        {
          "file": "assets/img/search_icon.svg",
          "mtimeMs": 1607422231671.0217,
          "ctimeMs": 1607422231671.0217,
          "date": "2020-12-08T11:42:37.804Z"
        },
        {
          "file": "assets/img/header_wish_icon.svg",
          "mtimeMs": 1607422231657.016,
          "ctimeMs": 1607422231657.016,
          "date": "2020-12-08T11:42:02.636Z"
        },
        {
          "file": "assets/img/contribution_logo2.png",
          "mtimeMs": 1607422231610.0186,
          "ctimeMs": 1607422231610.0186,
          "date": "2020-12-08T11:41:18.992Z"
        },
        {
          "file": "assets/img/contribution_logo3.png",
          "mtimeMs": 1607422231611.0166,
          "ctimeMs": 1607422231611.0166,
          "date": "2020-12-08T11:41:19.732Z"
        },
        {
          "file": "assets/img/section_target_bg.png",
          "mtimeMs": 1607422231676.018,
          "ctimeMs": 1607422231676.018,
          "date": "2020-12-08T11:42:41.391Z"
        },
        {
          "file": "assets/img/section_target_icon.svg",
          "mtimeMs": 1607422231677.017,
          "ctimeMs": 1607422231677.017,
          "date": "2020-12-08T11:42:42.673Z"
        },
        {
          "file": "assets/img/section_mechanics_bg.png",
          "mtimeMs": 1607422231674.0164,
          "ctimeMs": 1607422231674.0164,
          "date": "2020-12-08T11:42:39.300Z"
        },
        {
          "file": "assets/img/section_mechanics_icon.svg",
          "mtimeMs": 1607422231675.0186,
          "ctimeMs": 1607422231675.0186,
          "date": "2020-12-08T11:42:40.655Z"
        },
        {
          "file": "assets/img/section_wishesmap_map.svg",
          "mtimeMs": 1607422231681.0168,
          "ctimeMs": 1607422231681.0168,
          "date": "2020-12-08T11:42:45.818Z"
        },
        {
          "file": "assets/img/feedback_bg.png",
          "mtimeMs": 1607422231631.015,
          "ctimeMs": 1607422231631.015,
          "date": "2020-12-08T11:41:32.217Z"
        },
        {
          "file": "assets/img/feedback_bg.jpg",
          "mtimeMs": 1607422231618.0164,
          "ctimeMs": 1607422231618.0164,
          "date": "2020-12-08T11:41:24.225Z"
        },
        {
          "file": "assets/img/logo_vertical.svg",
          "mtimeMs": 1607422231659.0137,
          "ctimeMs": 1607422231659.0137,
          "date": "2020-12-08T11:42:07.374Z"
        },
        {
          "file": "assets/img/footer_geo_icon.svg",
          "mtimeMs": 1607422231635.019,
          "ctimeMs": 1607422231635.019,
          "date": "2020-12-08T11:41:36.568Z"
        },
        {
          "file": "assets/img/footer_phone_icon.svg",
          "mtimeMs": 1607422231635.019,
          "ctimeMs": 1607422231635.019,
          "date": "2020-12-08T11:41:41.666Z"
        },
        {
          "file": "assets/img/footer_email_icon.svg",
          "mtimeMs": 1607422231633.017,
          "ctimeMs": 1607422231633.017,
          "date": "2020-12-08T11:41:35.682Z"
        },
        {
          "file": "assets/img/footer_clock_icon.svg",
          "mtimeMs": 1607432105840.563,
          "ctimeMs": 1607432105840.563,
          "date": "2020-12-08T12:55:08.172Z"
        },
        {
          "file": "assets/img/footer_socials_fb.svg",
          "mtimeMs": 1607422231636.0193,
          "ctimeMs": 1607422231636.0193,
          "date": "2020-12-08T11:41:43.886Z"
        },
        {
          "file": "assets/img/footer_socials_ok.svg",
          "mtimeMs": 1607422231640.0193,
          "ctimeMs": 1607422231640.0193,
          "date": "2020-12-08T11:41:49.674Z"
        },
        {
          "file": "assets/img/footer_socials_mail.svg",
          "mtimeMs": 1607422231639.022,
          "ctimeMs": 1607422231639.022,
          "date": "2020-12-08T11:41:46.409Z"
        },
        {
          "file": "assets/img/footer_socials_tw.svg",
          "mtimeMs": 1607422231641.0195,
          "ctimeMs": 1607422231641.0195,
          "date": "2020-12-08T11:41:53.098Z"
        },
        {
          "file": "assets/img/footer_socials_inst.svg",
          "mtimeMs": 1607422231637.0159,
          "ctimeMs": 1607422231637.0159,
          "date": "2020-12-08T11:41:44.873Z"
        },
        {
          "file": "assets/img/alians.svg",
          "mtimeMs": 1607422231608.0198,
          "ctimeMs": 1607422231608.0198,
          "date": "2020-12-08T11:41:17.146Z"
        },
        {
          "file": "package-lock.json",
          "mtimeMs": 1607422231712.0164,
          "ctimeMs": 1607422231712.0164,
          "date": "2020-12-08T11:40:19.774Z"
        },
        {
          "file": "package.json",
          "mtimeMs": 1607422231712.0164,
          "ctimeMs": 1607422231712.0164,
          "date": "2020-12-08T11:40:20.410Z"
        },
        {
          "file": "assets/css/media.min.css",
          "mtimeMs": 1607422231604.0225,
          "ctimeMs": 1607422231604.0225,
          "date": "2020-12-08T11:41:04.740Z"
        },
        {
          "file": "assets/img/footer_socials_vk.svg",
          "mtimeMs": 1607422231643.0205,
          "ctimeMs": 1607422231643.0205,
          "date": "2020-12-08T11:41:54.514Z"
        },
        {
          "file": "assets/css/media.min.css.map",
          "mtimeMs": 1607422231604.0225,
          "ctimeMs": 1607422231604.0225,
          "date": "2020-12-08T11:41:08.498Z"
        },
        {
          "file": "assets/img/page_header_bg.jpg",
          "mtimeMs": 1607422231664.015,
          "ctimeMs": 1607422231664.015,
          "date": "2020-12-08T11:42:12.499Z"
        },
        {
          "file": "assets/img/wish-not-success.svg",
          "mtimeMs": 1607422231681.0168,
          "ctimeMs": 1607422231681.0168,
          "date": "2020-12-08T11:42:47.423Z"
        },
        {
          "file": "assets/img/wish-success.svg",
          "mtimeMs": 1607422231682.0176,
          "ctimeMs": 1607422231682.0176,
          "date": "2020-12-08T11:42:53.171Z"
        },
        {
          "file": "assets/img/region_search_button.svg",
          "mtimeMs": 1607422231669.0146,
          "ctimeMs": 1607422231669.0146,
          "date": "2020-12-08T11:42:34.464Z"
        },
        {
          "file": "assets/img/popov.jpg",
          "mtimeMs": 1607422231668.0146,
          "ctimeMs": 1607422231668.0146,
          "date": "2020-12-08T11:42:25.883Z"
        },
        {
          "file": "assets/js/jquery.3.5.1.min.js",
          "mtimeMs": 1607422231685.017,
          "ctimeMs": 1607422231685.017,
          "date": "2020-12-08T11:42:55.383Z"
        },
        {
          "file": "assets/css/jquery.fancybox.min.css",
          "mtimeMs": 1607422231588.0203,
          "ctimeMs": 1607422231588.0203,
          "date": "2020-12-08T11:40:39.784Z"
        },
        {
          "file": "assets/img/active_link_bottom.svg",
          "mtimeMs": 1607422231606.0154,
          "ctimeMs": 1607422231606.0154,
          "date": "2020-12-08T11:41:15.276Z"
        },
        {
          "file": "assets/img/contribution_logo1.png",
          "mtimeMs": 1607422231609.0188,
          "ctimeMs": 1607422231609.0188,
          "date": "2020-12-08T11:41:18.068Z"
        },
        {
          "file": "assets/img/header_next_icon.svg",
          "mtimeMs": 1607422231656.041,
          "ctimeMs": 1607422231656.041,
          "date": "2020-12-08T11:42:01.894Z"
        },
        {
          "file": "assets/img/polyanskii.jpg",
          "mtimeMs": 1607422231666.016,
          "ctimeMs": 1607422231666.016,
          "date": "2020-12-08T11:42:17.799Z"
        },
        {
          "file": "assets/js/jquery.fancybox.min.js",
          "mtimeMs": 1607422231688.0266,
          "ctimeMs": 1607422231688.0266,
          "date": "2020-12-08T11:42:56.438Z"
        },
        {
          "file": "404.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936684.0417,
          "date": "2020-12-08T11:40:05.596Z"
        },
        {
          "file": "LICENSE",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936677.062,
          "date": "2020-12-08T11:40:06.796Z"
        },
        {
          "file": "archive.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936605.4858,
          "date": "2020-12-08T11:40:08.246Z"
        },
        {
          "file": "comments.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936643.031,
          "date": "2020-12-08T11:40:09.032Z"
        },
        {
          "file": "composer.json",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936618.0261,
          "date": "2020-12-08T11:40:10.419Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936649.0522,
          "date": "2020-12-08T11:40:14.522Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936668.0288,
          "date": "2020-12-08T11:40:15.148Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936665.0276,
          "date": "2020-12-08T11:40:16.021Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936670.0293,
          "date": "2020-12-08T11:40:18.907Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936597.4666,
          "date": "2020-12-08T11:40:22.046Z"
        },
        {
          "file": "phpcs.xml.dist",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936637.053,
          "date": "2020-12-08T11:40:22.903Z"
        },
        {
          "file": "readme.txt",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936652.0535,
          "date": "2020-12-08T11:40:23.605Z"
        },
        {
          "file": "screenshot.png",
          "mtimeMs": 1607426386926.803,
          "ctimeMs": 1607426386926.803,
          "date": "2020-12-08T11:40:26.751Z"
        },
        {
          "file": "search.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936682.0623,
          "date": "2020-12-08T11:40:27.561Z"
        },
        {
          "file": "sidebar.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936686.063,
          "date": "2020-12-08T11:40:30.307Z"
        },
        {
          "file": "single.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936647.0525,
          "date": "2020-12-08T11:40:31.400Z"
        },
        {
          "file": "style-rtl.css",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936679.0435,
          "date": "2020-12-08T11:40:36.771Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936673.0625,
          "date": "2020-12-08T11:40:37.623Z"
        },
        {
          "file": "assets/tpl/default.html",
          "mtimeMs": 1607422231706.0173,
          "ctimeMs": 1607422296206.7883,
          "date": "2020-12-08T11:43:00.270Z"
        },
        {
          "file": "assets/tpl/history.html",
          "mtimeMs": 1607422231707.0193,
          "ctimeMs": 1607422296212.7944,
          "date": "2020-12-08T11:43:00.989Z"
        },
        {
          "file": "assets/tpl/index.html",
          "mtimeMs": 1607422231711.0164,
          "ctimeMs": 1607422296218.7817,
          "date": "2020-12-08T11:43:01.829Z"
        },
        {
          "file": "assets/tpl/wishes-item.html",
          "mtimeMs": 1607422231714.0156,
          "ctimeMs": 1607422296200.782,
          "date": "2020-12-08T11:43:02.793Z"
        },
        {
          "file": "assets/tpl/wishes.html",
          "mtimeMs": 1607422231715.0164,
          "ctimeMs": 1607422296222.7822,
          "date": "2020-12-08T11:43:05.524Z"
        },
        {
          "file": "inc/custom-header.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936657.0535,
          "date": "2020-12-08T11:43:08.567Z"
        },
        {
          "file": "inc/customizer.php",
          "mtimeMs": 1607432106461.5593,
          "ctimeMs": 1607432106461.5593,
          "date": "2020-12-08T12:55:10.039Z"
        },
        {
          "file": "inc/jetpack.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936659.0278,
          "date": "2020-12-08T11:43:10.691Z"
        },
        {
          "file": "inc/template-functions.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936663.0293,
          "date": "2020-12-08T11:43:11.518Z"
        },
        {
          "file": "inc/template-tags.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936661.0544,
          "date": "2020-12-08T11:43:13.425Z"
        },
        {
          "file": "js/customizer.js",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936633.027,
          "date": "2020-12-08T11:43:15.027Z"
        },
        {
          "file": "js/navigation.js",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936635.048,
          "date": "2020-12-08T11:43:16.479Z"
        },
        {
          "file": "languages/readme.txt",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936615.0273,
          "date": "2020-12-08T11:43:17.995Z"
        },
        {
          "file": "languages/remember.pot",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936613.0298,
          "date": "2020-12-08T11:43:18.978Z"
        },
        {
          "file": "template-parts/content-none.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936629.0527,
          "date": "2020-12-08T11:43:20.431Z"
        },
        {
          "file": "template-parts/content-page.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936623.0288,
          "date": "2020-12-08T11:43:21.249Z"
        },
        {
          "file": "template-parts/content-search.php",
          "mtimeMs": 1607410558000,
          "ctimeMs": 1607421936625.027,
          "date": "2020-12-08T11:43:22.595Z"
        },
        {
          "file": "template-parts/content.php",
          "mtimeMs": 1607432106657.5725,
          "ctimeMs": 1607432106657.5725,
          "date": "2020-12-08T12:55:10.513Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "tab",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": true
          },
          {
            "task": "postcss-preset-env",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/css/main.css",
        "config": {
          "tasks": {
            "postcss-import": {
              "enable": false
            }
          },
          "autoCompile": true,
          "sourceMap": true,
          "customOutput": "assets\\css\\main.min.css"
        }
      },
      {
        "file": "assets/css/media.css",
        "config": {
          "tasks": {
            "postcss-import": {}
          },
          "customOutput": "assets\\css\\media.min.css",
          "sourceMap": true
        }
      },
      {
        "file": "assets/css/media.min.css",
        "config": {
          "tasks": {
            "postcss-import": {}
          }
        }
      },
      {
        "file": "assets/scss/main.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": false
            }
          }
        }
      },
      {
        "file": "assets/scss/media.scss",
        "config": {
          "customOutput": "assets\\css\\media.min.css"
        }
      }
    ]
  }
}
